.scroll-indicator {
    position: fixed;
    width: 100vw;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.scroll-indicator a {
    padding: 10px;
    position: relative;
}

.scroll-indicator a::after {
    position: absolute;
    border-radius: 50%;
    background: white;
}