#alerts-container   {
    position: fixed;
    overflow-y: scroll;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 20vh;
    z-index: 10; /* Ensure it stays above other content */
  }

.alert {
  margin-left: 5vw;
  width: 90vw;
  height: 10vh;
}