.card-wrapper {
    position: relative;
    overflow: hidden;
    background-color: var(--color-neutral);

    border-radius: 1rem;

}

.card-wrapper::before {
    background: conic-gradient(var(--color-primary) 0deg,
            transparent 80deg);
    animation: border-spin 7s linear infinite;

    position: absolute;
    content: '';

    height: 300%;
    left: -100%;
    top: -100%;
    width: 300%;
}

.card-content {
    overflow: scroll;
    background-color: var(--color-base-100);

    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
}

@keyframes border-spin {
    100% {
        transform: rotate(-360deg);
    }
}