.carousel-card-wrapper {
    overflow: hidden;
    position: relative;
}

.carousel-card-wrapper::before {
    overflow: hidden;
    background: conic-gradient(var(--color-primary) 0deg,
            rgba(252, 70, 106, 1) 0deg,
            transparent 80deg);
    animation: border-spin 7s linear infinite;

    position: absolute;
    content: '';

    height: 400%;
    left: -150%;
    top: -150%;
    width: 400%;
}

.carousel-card-content {
    overflow: hidden;
    background-color: var(--color-base-100);

    position: absolute;
    top: 4px;
    left: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
}

.carousel {
    position: relative;
}

@keyframes border-spin {
    100% {
        transform: rotate(-360deg);
    }
}